.root {
  display: flex;

  width: 100%;
  height: var(--channel-info-height);
  flex-shrink: 0;
  /* margin-bottom: 1rem; */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  flex-shrink: 0;

  color: var(--text-color);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.freq-container {
  height: 72%;
  font-weight: 200;
  font-size: 40px;

  & * {
    font-weight: inherit;
    font-size: inherit;
  }

  & span {
    color: var(--red);
  }
}

.text-container {
  height: 23%;
  flex-shrink: 0;
}
