.container {
  --container-min-width: 360px;
  --container-max-width: 420px;
  --container-padding: 0 1rem;
  --container-margin: 0 auto;

  height: var(--screen-height);
  overflow: hidden;
  position: relative;
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
  margin: var(--container-margin);
  padding: var(--container-padding);
}
