.root {
  flex-grow: 1;
  padding-inline: 1.5rem;
  width: 100%;
  height: 100%;

  button {
    color: var(--text-color);
    display: inline-flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

.heading {
  & > h1 {
    font-weight: 200;
    font-size: 48px;
    margin-block: 0;
  }

  & > h1 > span {
    color: var(--red);
  }
}

.heading-caption {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.menu {
  padding-block: 1.5rem;

  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;

  /* Play button */
  & > button {
    font-size: 32px;
  }

  & > ul {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.25rem;

    /* How to Play & Credits */
    & > button {
      line-height: 1.5rem;
    }
  }
}

.content {
  padding-block: 1.5rem;
  line-height: 1.5rem;

  button {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

    h2 {
      margin-left: 1rem;
    }
  }
}

.devs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  h5 {
    font-weight: 400;
    font-size: 1rem;
  }

  p {
    font-weight: 0.875rem;
    color: var(--text-secondary-color);
  }
}
