@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* --- colors --- */
  --bgc: #0a0a0a;

  --text-color: #fafafa;
  --text-color-hover: none;
  --text-color-active: none;

  --red: #9f0712;
  --red-hover: none;
  --red-active: #460809;

  --gray: #262626;
  --gray-hover: none;
  --gray-active: #171717;

  /* --- --- --- --- */

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter" sans-serif;
}

body {
  background-color: var(--bgc);
  color: var(--text-color);
}

li,
ol {
  list-style: none;
  padding-left: 0;
}

pre {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
