:root {
  --bgc: #0a0a0a;

  --radio-color: #171717;

  --text-color: #fafafa;
  --text-color-hover: none;
  --text-color-active: none;

  --red: #9f0712;
  --red-hover: none;
  --red-active: #460809;

  --gray: #262626;
  --gray-hover: none;
  --gray-active: #171717;

  /* --- --- --- --- */

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgc);
  color: var(--text-color);
}
