.root {
  --spacing: 0.25rem;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: var(--spacing);

  border: 0.1rem solid var(--gray);
  border-radius: 0.25rem;
}

.input {
  background-color: inherit;
  border: 0;
  padding: 0;
  width: 100%;
  margin-right: var(--spacing);

  color: var(--text-color);
  caret-color: var(--red);

  &:focus-visible {
    outline: none;
  }
}

.button {
  border-radius: 1px;

  width: 2.5rem;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  background-color: var(--gray);
  color: var(--text-color);

  cursor: pointer;

  & > * {
    scale: 1.2;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    background-color: var(--gray-active);
  }
}

.button--error {
  color: var(--red);
  animation-name: skew-x-shaking, skew-y-shaking;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes skew-x-shaking {
  0% {
    transform: skewX(-15deg);
  }
  20% {
    transform: skewX(15deg);
  }
  40% {
    transform: skewX(-15deg);
  }
  60% {
    transform: skewX(15deg);
  }
  80% {
    transform: skewX(-15deg);
  }
  100% {
    transform: skewX(15deg);
  }
}

@keyframes skew-y-shaking {
  0% {
    transform: skewY(15deg);
  }
  20% {
    transform: skewY(-15deg);
  }
  40% {
    transform: skewY(15deg);
  }
  60% {
    transform: skewY(-15deg);
  }
  80% {
    transform: skewY(15deg);
  }
  100% {
    transform: skewY(-15deg);
  }
}
