.root {
  background: linear-gradient(
    to right,
    var(--bgc) -10%,
    var(--text-color) 20%,
    var(--text-color) 80%,
    var(--bgc) 110%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.content-container {
  display: inline-block;
  padding-left: 100%;

  animation-name: right-to-left;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.content {
  display: flex;
  align-items: center;

  & > * {
    color: inherit;
    fill: currentColor;
    stroke: currentColor;
  }
}

/* --- --- --- */

@keyframes right-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
