.root {
  background: linear-gradient(
    to right,
    black -10%,
    white 20%,
    white 80%,
    black 110%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.text-container {
  display: inline-block;
  padding-left: 100%;

  animation-name: right-to-left;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* --- --- --- */

@keyframes right-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
