.root {
  height: var(--footer-height);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  inset-inline: 0;
  position: absolute;
  bottom: 0;

  background-color: var(--bgc);
}
